.image-gallery button {
  font-weight: bold;
}

.image-gallery .wall {
  font-size: 0;
}

.image-gallery .brick {
  display: inline-block;
  width: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media (min-width: 640px) {
  .image-gallery .brick {
    width: 33.33%;
  }
}

@media (min-width: 1024px) {
  .image-gallery .brick {
    width: 25%;
  }
}

@media (min-width: 1280px) {
  .image-gallery .brick {
    width: 20%;
  }
}

@media (min-width: 1680px) {
  .image-gallery .brick {
    width: 13.33%;
  }
}

.image-gallery.freewall-ready .brick {
  display: block;
  padding: 0;
}

.image-gallery .brick > img {
  cursor: pointer;
}

.title {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 20px;
}

.pswp {
  z-index: 9999 !important;
}

.pswp__caption {
  display: flex;
}

.image-gallery-placeholder.placeholder {
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-user-modify: read-only !important;
  text-align: center;
}